# What genre is rated the highest?

## *An analysis of a movie ratings dataset*

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as plt

<h3>Acquiring dataset</h3>

Here are the links to the data source and location:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

In [4]:
!ls ./database_from_movielens

README.txt        genome-tags.csv   movies.csv        tags.csv
genome-scores.csv links.csv         ratings.csv

In [18]:
movies=pd.read_csv('./database_from_movielens/movies.csv',sep=',')
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [101]:
movie_genres=movies['genres'].str.cat(sep=',')
string_movie_genres=movie_genres.replace('|',',')
list_movie_genres=string_movie_genres.split(',')
set(list_movie_genres)

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [68]:
#Extract only the movies that are in the sci-fi category
sci_movies_filter=movies['genres'].str.contains('Sci-Fi')
movies[sci_movies_filter].shape

(1743, 3)

In [70]:
tags=pd.read_csv('./database_from_movielens/tags.csv',sep=',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [61]:
ratings=pd.read_csv('./database_from_movielens/ratings.csv',sep=',')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [13]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [74]:
tag_count=tags['tag'].value_counts()
tag_count[:10]

sci-fi             3384
based on a book    3281
atmospheric        2917
comedy             2779
action             2657
surreal            2427
BD-R               2334
twist ending       2323
funny              2072
dystopia           1991
Name: tag, dtype: int64