# Best films in every genre

## *An analysis of a movie ratings dataset*

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as plt

<h3>Acquiring dataset</h3>

Here are the links to the data source and location:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

In [2]:
!ls ./database_from_movielens

README.txt        genome-tags.csv   movies.csv        tags.csv
genome-scores.csv links.csv         ratings.csv

In [233]:
movies=pd.read_csv('./database_from_movielens/movies.csv',sep=',')
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
#Extract only the movies that are in the sci-fi category
sci_movies_filter=movies['genres'].str.contains('Sci-Fi')
movies[sci_movies_filter].shape

(1743, 3)

In [5]:
tags=pd.read_csv('./database_from_movielens/tags.csv',sep=',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [6]:
ratings=pd.read_csv('./database_from_movielens/ratings.csv',sep=',')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [13]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [74]:
tag_count=tags['tag'].value_counts()
tag_count[:10]

sci-fi             3384
based on a book    3281
atmospheric        2917
comedy             2779
action             2657
surreal            2427
BD-R               2334
twist ending       2323
funny              2072
dystopia           1991
Name: tag, dtype: int64

## Cleaning data

In [9]:
#Check if any row is null in movies
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [10]:
#Check if any row is null in ratings
ratings.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

## Exploring the genres

In [236]:
#Find the unique genres
movie_genres=movies['genres'].str.cat(sep=',')
string_movie_genres=movie_genres.replace('|',',')
list_movie_genres=string_movie_genres.split(',')
unique_genres=list(set(list_movie_genres))
unique_genres.remove('(no genres listed)')
unique_genres

['Adventure',
 'Comedy',
 'Western',
 'Action',
 'Film-Noir',
 'IMAX',
 'Fantasy',
 'Documentary',
 'Animation',
 'Horror',
 'Children',
 'Mystery',
 'Musical',
 'War',
 'Drama',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'Crime']

In [44]:
#Find the number of counts for each genre
count_dict={}
for g in unique_genres:
    counts=list_movie_genres.count(g)
    count_dict[g]=counts
genre_counts=pd.DataFrame.from_dict(count_dict,orient='index',columns=['Counts'])
genre_counts.sort_values(by=['Counts'], inplace=True,ascending=False)
genre_counts

                    Counts
Drama                13344
Comedy                8374
Thriller              4178
Romance               4127
Action                3520
Crime                 2939
Horror                2611
Documentary           2471
Adventure             2329
Sci-Fi                1743
Mystery               1514
Fantasy               1412
War                   1194
Children              1139
Musical               1036
Animation             1027
Western                676
Film-Noir              330
(no genres listed)     246
IMAX                   196

In [163]:
#delete the rows in movies that have no genres listed
no_genre_filter=movies['genres'].str.contains('no genres listed')==False
movies=movies[no_genre_filter]
movies.shape

(27032, 3)

In [158]:
#find all the films that have been rated more than a hundred times
rating_count=ratings[['movieId','rating']].groupby('movieId', as_index=False).count()
rating_count_filter=rating_count['rating']>100

In [159]:
#get the average rating for each movie and apply the rating count filter
avg_ratings = ratings.groupby('movieId', as_index=False).mean() #Don't make movieId the index
del avg_ratings['timestamp']
del avg_ratings['userId']
filt_avg_ratings=avg_ratings[rating_count_filter]

In [160]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [164]:
#merge movies df and filtered average ratings df
box_office=movies.merge(filt_avg_ratings,on='movieId',how='inner')
box_office.shape

(8532, 4)

In [216]:
drama_filter = box_office['genres'].str.contains('Drama')
drama=box_office[drama_filter]
#drama_10=drama.sort_values(by=['rating'],ascending=False)[:10]
#print('Top 10 drama films {}'.format(drama_10['title']))

In [206]:
test=['Adventure']
for g in test:
    genre_filter=box_office['genres'].str.contains('g')
    genre=box_office['genres'].str.contains('g')
    #genre_10=genre.sort_values(by='rating',ascending='False')[:10]
    #print('Top 10 {} films {}'.format(g,genre_10['title']))

In [237]:
i = 0
while i<len(unique_genres):
    df1=box_office[(box_office['genres'].str.contains(unique_genres[i]))]
    df2=df1.sort_values(by='rating',ascending='False')[:5]
    print('Top 10 {} films: \n {}'.format(unique_genres[i],df2['title']))
    print()
    i = i + 1

Top 10 Adventure films:
 1489                      Barney's Great Adventure (1998)
6340                               Son of the Mask (2005)
4499    Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...
1258                  Turbo: A Power Rangers Movie (1997)
5881                                     Yu-Gi-Oh! (2004)
Name: title, dtype: object

Top 10 Comedy films:
 5897    SuperBabies: Baby Geniuses 2 (2004)
7061                Bratz: The Movie (2007)
4991                           Gigli (2003)
7369                  Disaster Movie (2008)
6340                 Son of the Mask (2005)
Name: title, dtype: object

Top 10 Western films:
 4357       Wagons East (1994)
2252    Wild Wild West (1999)
7845         Jonah Hex (2010)
4038     Texas Rangers (2001)
4420    Love Me Tender (1956)
Name: title, dtype: object

Top 10 Action films:
 5151                  House of the Dead, The (2003)
1258            Turbo: A Power Rangers Movie (1997)
5881                               Yu-Gi-Oh! (2004)
6317                       Alone in the Dark (2005)
1440    3 Ninjas: High Noon On Mega Mountain (1998)
Name: title, dtype: object

Top 10 Film-Noir films:
 1648    This World, Then the Fireworks (1997)
1335                           Hoodlum (1997)
7922                            Rubber (2010)
7589            Limits of Control, The (2009)
3693                            D.O.A. (1988)
Name: title, dtype: object

Top 10 IMAX films:
 8370                      After Earth (2013)
3654    T-Rex: Back to the Cretaceous (1998)
8334          Good Day to Die Hard, A (2013)
7855      Twilight Saga: Eclipse, The (2010)
6726                         Poseidon (2006)
Name: title, dtype: object

Top 10 Fantasy films:
 6340                               Son of the Mask (2005)
4499    Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...
5881                                     Yu-Gi-Oh! (2004)
6633                                    BloodRayne (2005)
7187                           D-War (Dragon Wars) (2007)
Name: title, dtype: object

Top 10 Documentary films:
 4531                    Faces of Death 6 (1996)
4530                    Faces of Death 5 (1996)
4532    Faces of Death: Fact or Fiction? (1999)
4529                    Faces of Death 4 (1990)
4528                    Faces of Death 3 (1985)
Name: title, dtype: object

Top 10 Animation films:
 4871                                Pokémon Heroes (2003)
4499    Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...
5881                                     Yu-Gi-Oh! (2004)
3501                          Pokémon 3: The Movie (2001)
3264                            Digimon: The Movie (2000)
Name: title, dtype: object

Top 10 Horror films:
 2960         Carnosaur 3: Primal Species (1996)
4531                    Faces of Death 6 (1996)
4530                    Faces of Death 5 (1996)
4532    Faces of Death: Fact or Fiction? (1999)
5151              House of the Dead, The (2003)
Name: title, dtype: object

Top 10 Children films:
 1489                      Barney's Great Adventure (1998)
4871                                Pokémon Heroes (2003)
6340                               Son of the Mask (2005)
4499    Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...
1258                  Turbo: A Power Rangers Movie (1997)
Name: title, dtype: object

Top 10 Mystery films:
 4388           Master of Disguise, The (2002)
1130                       Blood Beach (1981)
3291    Book of Shadows: Blair Witch 2 (2000)
7273                        Prom Night (2008)
6804                   Wicker Man, The (2006)
Name: title, dtype: object

Top 10 Musical films:
 4933    From Justin to Kelly (2003)
3911                 Glitter (2001)
4143              Crossroads (2002)
1170                Grease 2 (1982)
3952    Can't Stop the Music (1980)
Name: title, dtype: object

Top 10 War films:
 2358                                 Iron Eagle IV (1995)
5414                                  Best Defense (1984)
2356                                 Iron Eagle II (1988)
6239    Starship Troopers 2: Hero of the Federation (2...
3120            Missing in Action 2: The Beginning (1985)
Name: title, dtype: object

Top 10 Drama films:
 3911                       Glitter (2001)
2810             Shanghai Surprise (1986)
1979    Jerry Springer: Ringmaster (1998)
2851                   Cool as Ice (1991)
1329      Free Willy 3: The Rescue (1997)
Name: title, dtype: object

Top 10 Romance films:
 4933    From Justin to Kelly (2003)
3911                 Glitter (2001)
4991                   Gigli (2003)
2810       Shanghai Surprise (1986)
6667              Date Movie (2006)
Name: title, dtype: object

Top 10 Sci-Fi films:
 2960    Carnosaur 3: Primal Species (1996)
2959                    Carnosaur 2 (1995)
6317              Alone in the Dark (2005)
3409                 Leonard Part 6 (1987)
2973              Battlefield Earth (2000)
Name: title, dtype: object

Top 10 Thriller films:
 6317                             Alone in the Dark (2005)
3025            Puppet Master 5: The Final Chapter (1994)
2492                                          Bats (1999)
3026    Curse of the Puppet Master (Puppet Master 6: T...
7056                          I Know Who Killed Me (2007)
Name: title, dtype: object

Top 10 Crime films:
 4991                                 Gigli (2003)
2810                     Shanghai Surprise (1986)
7993                          Home Alone 4 (2002)
5747     Police Academy: Mission to Moscow (1994)
1976    Police Academy 6: City Under Siege (1989)
Name: title, dtype: object